/******************SMALL ICONS********************/
.icon-edit      { background-image: url(16x16/text-editor.png) }
.icon-home      { background-image: url(16x16/go-home.png) }
.icon-home-not  { background-image: url(16x16/go-home-not.png) }
.icon-new,
.icon-suggest   { background-image: url(16x16/filenew.png) }
.icon-close     { background-image: url(16x16/gtk-cancel.png) }
.icon-newfolder { background-image: url(16x16/folder-new.png) }
.icon-folder    { background-image: url(16x16/folder.png) }
.icon-parent-folder { background-image: url(16x16/folder_home.png) }
.icon-newblog   { background-image: url(16x16/text-editor.png) }
.icon-blog      { background-image: url(16x16/text-editor.png) }
/*.icon-open    { background-image: url(folder-open.gif) } UNUSED*/
/*.icon-cms     { background-image: url(abiword_48.png) } UNUSED*/
.icon-save      { background-image: url(16x16/filesave.png) }
.icon-send      { background-image: url(16x16/stock_mail-forward.png) }
.icon-cancel    { background-image: url(16x16/gtk-cancel.png) }
.icon-person    { background-image: url(16x16/system-config-users.png) }
.icon-product   { background-image: url(16x16/package.png) }
.icon-delete    { background-image: url(16x16/user-trash.png) }
/*.icon-find    { background-image: url(noosfero-find.png) } UNUSED*/
.icon-back      { background-image: url(16x16/back.png) }
.icon-next      { background-image: url(16x16/next.png) }
.icon-add       { background-image: url(16x16/add.png) }
.icon-remove    { background-image: url(16x16/gtk-remove.png) }
.icon-more      { background-image: url(16x16/add.png) }
.icon-up        { background-image: url(16x16/go-up.png) }
.icon-down      { background-image: url(16x16/go-down.png) }
.icon-left      { background-image: url(16x16/go-previous.png) }
.icon-right     { background-image: url(16x16/go-next.png) }
.icon-up-disabled    { background-image: url(16x16/go-up.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-down-disabled  { background-image: url(16x16/go-down.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-left-disabled  { background-image: url(16x16/go-previous.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-right-disabled { background-image: url(16x16/go-next.png); opacity: 0.25; filter:alpha(opacity=25); }
.icon-up-red    { background-image: url(16x16/go-up-red.png) }
.icon-forward   { background-image: url(16x16/go-next.png) }
.icon-search    { background-image: url(16x16/search.png) }
.icon-ok        { background-image: url(16x16/media-playback-start.png) }
.icon-login     { background-image: url(16x16/log-in.png) }
.icon-help      { background-image: url(16x16/gnome-help.png) }
.icon-firefox   { background-image: url(firefox-24x24.png) }
.icon-help32on  { background-image: url(32x32/gnome-help.png) }
.icon-help32off { background-image: url(32x32/gnome-help-red.png) }
.icon-spread    { background-image: url(16x16/spread.png) }
.icon-todo            { background-image: url(16x16/stock_paste.png) }
.icon-eyes            { background-image: url(16x16/find.png) }
/*.icon-menu-         { background-image: url(menu-without-ico-HC.gif) }*/
.icon-menu-home       { background-image: url(16x16/go-home.png) }
/*.icon-menu-blog     { background-image: url(blog-HC.gif) } UNUSED*/
/*.icon-menu-album    { background-image: url(album-HC.gif) } UNUSED*/
.icon-menu-product    { background-image: url(16x16/package.png) }
.icon-menu-enterprise { background-image: url(16x16/go-home.png) }
.icon-menu-community  { background-image: url(16x16/system-config-users.png) }
/*.icon-menu-edit     { background-image: url(edit-HC.gif) } UNUSED */
.icon-menu-ctrl-panel { background-image: url(16x16/preferences-desktop.png) }
.icon-menu-admin      { background-image: url(16x16/preferences-system.png) }
.icon-menu-my-groups  { background-image: url(16x16/system-config-users.png) }
.icon-menu-login      { background-image: url(16x16/log-in.png) }
.icon-menu-logout     { background-image: url(16x16/log-out.png) }
.icon-menu-search     { background-image: url(16x16/search.png) }
/*.icon-menu-ed-design { background-image: url(edit-design-HC.gif) } UNUSED */
.icon-menu-events     { background-image: url(16x16/stock_calendar.png) }
.icon-event           { background-image: url(16x16/stock_calendar.png) }
.icon-newevent        { background-image: url(16x16/stock_calendar.png) }
.icon-menu-articles   { background-image: url(16x16/text-editor.png) }
/*.icon-menu-comments { background-image: url(blog-HC.gif) } UNUSED */
.icon-menu-people     { background-image: url(16x16/person-icon.png) }
.icon-menu-mail       { background-image: url(16x16/email.png) }
.icon-upload-file     { background-image: url(16x16/go-up.png) }
.icon-newupload-file  { background-image: url(16x16/go-up.png) }
.icon-slideshow       { background-image: url(16x16/x-office-presentation.png) }
.icon-photos          { background-image: url(16x16/camera-photo.png) }

.icon-text-html       { background-image: url(16x16/text-html.png) }
.icon-text-plain      { background-image: url(16x16/text-x-generic.png) }
.icon-image-svg-xml   { background-image: url(16x16/image-x-generic.png) }
.icon-application-octet-stream { background-image: url(16x16/binary.png) }
.icon-application-x-gzip       { background-image: url(16x16/gnome-mime-application-x-gzip.png) }
.icon-application-postscript   { background-image: url(16x16/gnome-mime-application-postscript.png) }
.icon-application-pdf          { background-image: url(16x16/gnome-mime-application-pdf.png) }
.icon-application-ogg          { background-image: url(16x16/gnome-mime-application-ogg.png) }
.icon-video, .icon-video-mpeg  { background-image: url(16x16/video-x-generic.png) }
.icon-application-vnd-oasis-opendocument-text         { background-image: url(16x16/gnome-mime-application-vnd.oasis.opendocument.text.png) }
.icon-application-vnd-oasis-opendocument-spreadsheet  { background-image: url(16x16/gnome-mime-application-vnd.oasis.opendocument.spreadsheet.png) }
.icon-application-vnd-oasis-opendocument-presentation { background-image: url(16x16/gnome-mime-application-vnd.oasis.opendocument.presentation.png) }

.icon-media-pause  { background-image: url(16x16/media-playback-pause.png) }
.icon-media-play   { background-image: url(16x16/media-playback-start.png) }
.icon-media-prev   { background-image: url(16x16/media-skip-backward.png) }
.icon-media-next   { background-image: url(16x16/media-skip-forward.png) }
.icon-lock	       { background-image: url(16x16/lock.png) }
.icon-chat         { background-image: url(16x16/internet-group-chat.png); background-repeat: no-repeat }
.icon-reply        { background-image: url(16x16/mail-reply-sender.png) }
.icon-newforum     { background-image: url(16x16/internet-group-chat.png) }
.icon-forum        { background-image: url(16x16/system-users.png) }
.icon-gallery      { background-image: url(16x16/image-x-generic.png) }
.icon-newgallery   { background-image: url(16x16/image-x-generic.png) }
.icon-locale       { background-image: url(16x16/preferences-desktop-locale.png) }
.icon-user-removed { background-image: url(16x16/gtk-cancel.png) }
.icon-user-unknown { background-image: url(16x16/dialog-error.png) }
.icon-alert        { background-image: url(16x16/dialog-warning.png) }
.icon-clone        { background-image: url(16x16/edit-copy.png) }
.icon-printer      { background-image: url(16x16/printer.png) }

.icon-activate-user           { background-image: url(16x16/emblem-system.png) }
.icon-deactivate-user         { background-image: url(16x16/emblem-unreadable.png) }
.icon-set-admin-role          { background-image: url(16x16/user.png) }
.icon-reset-admin-role        { background-image: url(16x16/person-icon.png) }

/******************LARGE ICONS********************/
.image-gallery-item .folder  { background-image: url(96x96/folder.png) }
.image-gallery-item .gallery { background-image: url(96x96/image-x-generic.png) }
